/* Estilos para las ventanas */

.window {
  width: 50vw;
  height: 70vh;
 
  min-width: 20vw;
  min-height: 15vh;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Hacer que el resizer esté en un nivel superior */
.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  z-index: 10; /* Asegura que el resizer esté por encima del contenido */
}

.resizer.top-left, .resizer.top-right, .resizer.bottom-left, .resizer.bottom-right,
.resizer.left, .resizer.right, .resizer.top, .resizer.bottom {
  z-index: 10; /* Se asegura que todas las esquinas y bordes para redimensionar tengan un z-index superior */
}

/* Esquinas */
.resizer.top-left {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resizer.top-right {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resizer.bottom-left {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.resizer.bottom-right {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

/* Bordes */
.resizer.left {
  top: 0;
  left: 0;
  height: 100%;
  cursor: ew-resize;
}

.resizer.right {
  top: 0;
  right: 0;
  height: 100%;
  cursor: ew-resize;
}

.resizer.top {
  top: 0;
  left: 0;
  width: 100%;
  cursor: ns-resize;
}

.resizer.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: ns-resize;
}


/* Encabezado de la ventana con tamaño proporcional */
.window-header {
  background-color: #515151;
  color: white;
  border-radius: 0.4em 0.4em 0 0; /* Radio de borde proporcional */
  padding: 0;
  padding-top: 1px;
  display: flex;
  justify-content: space-between; /* Título y botones a los extremos */
  align-items: center;
  font-size: 1.5vh;
  font-weight: bold;
  position: relative;
  height: 2.5vh;
}

.window-header span {
  padding-left: 1vh;
}

.close-btn,
.fullscreen-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 5vh;
  height: 2.5vh;
  position: absolute;
  top: 0;
}

.close-btn {
  right: 0;
  background-color: rgb(214, 0, 0);
}

.close-btn:hover {
  background-color: rgb(142, 0, 0);
}

.fullscreen-btn {
  right: 5vh;  /* Ajuste para que no se superponga con el botón de cerrar */
  font-size: 2vh;  /* Tamaño más grande para el ícono */
}

.fullscreen-btn:hover {
  background-color: rgb(100, 100, 100);  /* Color de hover para el botón de pantalla completa */
}

/* Contenido de la ventana con tamaño proporcional */
.window-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 2.5vh); 
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


