/* Estilo para ventanas con tamaño responsivo */
.window {
  width: 20vw; /* Ancho relativo al viewport */
  height: 20vh; /* Altura relativa al viewport */
  max-width: 80vw; /* Ancho máximo relativo al viewport */
  max-height: 80vh; /* Altura máxima relativa al viewport */
  min-width: 20vw; /* Ancho mínimo relativo al viewport */
  min-height: 15vh; /* Altura mínima relativa al viewport */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.4em; /* Radio de borde proporcional */
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2); /* Sombra proporcional */
  position: absolute;
  overflow: hidden;
  font-size: 1.5vh; /* Tamaño base de la fuente */
}

/* Encabezado de la ventana con tamaño proporcional */
.window-header {
  background-color: #515151;
  color: white;
  border-radius: 0.4em 0.4em 0 0; /* Radio de borde proporcional */
  padding: 1em; /* Padding proporcional */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vh; /* Tamaño de fuente proporcional */
  font-weight: bold;
}

/* Contenido de la ventana con tamaño proporcional */
.window-content {
  padding: 1em; /* Padding proporcional */
  font-size: 1.5vh; /* Tamaño de fuente proporcional */
}

/* Estilo para el botón de cerrar */
.close-btn {
  background-color: rgb(214, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5vh; /* Tamaño de fuente proporcional */
}
